@font-face {
    font-family: 'zabars';
    src: url('fonts/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/canvasBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    margin: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-size: 180px;
}

p {
    text-align: center;
    font-size: 25px;
}

canvas {
    background-color: black;
    display: block;
}

#game {
    z-index: 10;
}

#canvas_screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: orange;
    border-radius: 10px;
}

#startscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}


#startscreen img {
    width: 1100px;
}

.d-none {
    display: none !important;
}

.game_description {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -250px;
    top: 30px;
    gap: 20px;
}

.game_description p {
    padding: 5px;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    text-align: center;
}

.description_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 40px;
    padding: 5px;
}

.keyboard_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile_button {
    display: none;
}

#endScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#endScreen img {
    max-width: 900px !important;
    height: auto;
}

.go_to_start_screen:hover {
    background-color: red;
}

.new_game_button:hover {
    background-color: red;
}

/* Smartphones ================== */
@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .startscreen {
        width: 100%;
    }

    #startscreen img {
        width: 575px;
    }

    .game_description {
        width: 100px;
        height: 150px;
        left: -120px;
        top: 80px;
        font-size: 10px;
    }

    .footer {
        display: none;
    }

    .footer button {

    }
    .d-none {
        display: flex;
    }
    .mobile_button {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }
    #muteButton.muted {
        background-color: red; /* Beispielhafte Hervorhebung, wenn der Sound stummgeschaltet ist */
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    .startscreen {
        height: 100vh;
    }

    #startscreen img {
        width: 575px;
    }

    .game_description {
        width: 100px;
        height: 150px;
        left: -110px;
        top: 80px;
        font-size: 10px;
    }

    .footer {
        display: none;
    }
    .footer button {
        
    }
    
    .mobile_button {
        display: flex;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 20;
    }
    #muteButton.muted {
        background-color: red; /* Beispielhafte Hervorhebung, wenn der Sound stummgeschaltet ist */
    }
}